.navbar{
  padding:0 40px!important;
}

.header_nav{
  margin-top: 80px;
  padding: 0;

}

.nav_list{
  background-color: transparent!important;
  border: none!important;
  color: white!important;
  cursor: pointer;
  margin: 8px 0;
  border-radius: 4px!important;
  padding: 12px 32px!important;
}

.nav_list:hover{
  background-color: #1d77ff!important;
  transition: .2s linear
}

.nav_list svg{
  margin-right: 12px;
  height: 16px;
}





